@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url(../assets/images/noise.png);
    background-size: 200px 200px;
    background-position: 0 0;
}

html {
    --line-color: #00000012;
}

html.dark {
    --line-color: #ffffff20;
}

.borderBlack {
    @apply border border-black/10;
}

:root {
    --header-height: 115px;
}

.intro {
    min-height: calc(100svh - var(--header-height));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: var(--header-height);
    box-sizing: border-box;
}

.path {
    stroke-dasharray: 500px 100px;
    animation: animate 100s linear infinite alternate-reverse;
}

@keyframes animate {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: 12433.8193359375;
    }
}