@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url(../assets/images/noise.png);
    background-size: 200px 200px;
    background-position: 0 0;
}

html {
    --line-color: #e4e4e7;
}

html.dark {
    --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
    @apply border border-black/10;
}